<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Airslamit" translate="label" sortOrder="10">
            <label>Airslamit</label>
        </tab>
        <section id="listing" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Products Listing (CSV)</label>
            <tab>Airslamit</tab>
            <resource>Airslamit_ProductsListing::products_listing_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable_listings" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>All brands listing</label>
                    <comment>If enabled, combined listing for all Brands will also be created.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="generate_listings" translate="label comment tooltip" type="button" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Airslamit\ProductsListing\Block\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>